<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Favorite color ? </h1>

    <form action="/process" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username">
        Choose a color: <select name="color">
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="pink">Pink</option>
        </select>
        Gender: <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="RNS">Rather Not Specify</option>
            <option value="yes">Yes</option>
        </select>
        <input type="submit" value="View User">
    </form>
</body>
</html>
